target/
Cargo.lock
debug/
release/
rls/
*.o
.vscode/
.idea/
bad_case/
**/logs
**/*.swp
**/*.bi
**/*.seg
**/*.csv
**/*.dump
**/__pycache__
**/.DS_Store
**/*.tgz
**/*.csv
**/*.bi.gz
**/*.fx.gz
**/*.seg.gz
**/*.zs.gz
**/*.bsp.gz
**/flamegraph.svg
python/
test_data/
doc/
.env
**/.DS_Store
